html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins, sans-serif;
}

ul {
    font-size: 20px;
}

.navbar {
    background-color: #6C2D2C;
}

#welcome-section {
    background-color: #42313A;
    height: 100vh;
}

.portfolio-text {
    color: #9F4636;
    padding-bottom: 389px;
    font-size: 28px;
    display: flex;
    justify-content: center;
}

.portfolio-heading {
    color: #fff;
    padding-top: 386px;
    display: flex;
    justify-content: center;
    font-size: 65px;
}

.portfolio-project-heading {
    border-bottom: 5px solid #fff;
    font-size: 22px;
    color: #fff;
}

.portfolio-project-row {
    background-color: #9F4636;
}

.card {
    max-width: 24rem;
    border-radius: 6px;
}

.card-body {
    background-color: #42313A;
}

.card-img-top {
    width: 100%;
    height: 35vh;
    object-fit: cover;
}

.portfolio-projects-button {
    background-color: #42313A;
    color: #fff;
}

@media(max-width: 576px) {
.portfolio-text {
    color: #F1DCC9;
    padding-bottom: 100px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    margin-left: 40px;
}

.portfolio-heading {
    color: #F1DCC9;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    font-size: 65px;
    margin-left: 40px;
}
#welcome-section {
    background-color: #42313A;
    height: 50vh;
}

h2 {
  margin-left: 50px; 
}
.portfolio-project-heading {
    border-bottom: 5px solid #fff;
}

.portfolio-project-span {
    margin-left: 50px;
}
}